
<!-- //header -->
<!-- banner -->
	<div class="banner-silder">
			 <div class="banner">
					<ul>
					</ul>
				  <ol>
				  </ol>
				  <i class="left"></i><i class="right"></i>
				  <div class="banner_wthree_agile_info">
				     <section class="rw-wrapper">
						<div class="rw-sentence">
							<span>We are Ready to Design</span>
							<br />
							<span>Your Build </span>
							
							<div class="rw-words rw-words-1">
								<span>Amazing Show</span>
								<span>Magic Home</span>
								<span>Amazing Home</span>
								<span>Magic Home</span>
								<span>Awesome Designs</span>
								
							</div>
						</div>
			         </section>
					 <div class="wthree_more">
					   <a href="single.html" class="button--wayra button--border-thick button--text-upper button--size-s">Learn More</a>
				     </div>
				  </div>
		     </div>
		
	</div>
<!-- //banner -->


<!-- banner-bottom -->
	<div class="banner-bottom" id='about'>
		<div class="container">
			<div class="col-md-7 banner_bottom_left">
				<h2>About us</h2>
				<p><i>We shape your Homes</i> Quis nostrum exercitationem ullam corporis suscipit 
					laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure 
					reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
					vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
				<div class="wthree_more wthree_more1">
					<a href="single.html" class="button--wayra button--border-thick button--text-upper button--size-s">Read More</a>
				</div>
			</div>
			<div class="col-md-5 banner_bottom_right">
			   <div class="img_agile">
			      <img src="images/ab.jpg" class="img-responsive" alt="" />
			   </div>
			   
			    
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
				
<!-- banner-bottom -->
<div class="services" id='events'>
   <div class="container">
            <h3>Our events</h3>
			<p class="quia">What We Do</p>
       <div class="wthree_services_bottom_left banner_bottom_agile_grids">
			<div class="wthree_services_bottom_left_grid">
				<div class="col-md-4 w3_agileits_services_bottom_l_grid">
					<div class="agile_services_bottom_l_grid1">
						<img src="images/10.jpg" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos">
							<h3>Intricate Designs</h3>
						</div>
					</div>
				    <div class="serve_info_agile two">
					    <h4>Residential Design</h4>
						<p>Our working process</p>
					 </div>
				</div>
				<div class="col-md-4 w3_agileits_services_bottom_l_grid">
					<div class="agile_services_bottom_l_grid1">
						<img src="images/11.jpg" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos">
							<h3>Intricate Designs</h3>
						</div>
					</div>
						 <div class="serve_info_agile two">
					    <h4>Commercial Design</h4>
						<p>Our working process</p>
					 </div>
				</div>
				<div class="col-md-4 w3_agileits_services_bottom_l_grid">
					<div class="agile_services_bottom_l_grid1">
						<img src="images/8.jpg" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos">
							<h3>Intricate Designs</h3>
						</div>
					</div>
						 <div class="serve_info_agile two">
					    <h4>Corporate Design</h4>
						<p>Our working process</p>
					 </div>
				</div>
				<div class="col-md-4 w3_agileits_services_bottom_l_grid">
					<div class="agile_services_bottom_l_grid1">
						<img src="images/4.jpg" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos">
							<h3>Intricate Designs</h3>
						</div>
					</div>
						 <div class="serve_info_agile">
					    <h4>Hospitality  Design</h4>
						<p>Our working process</p>
					 </div>
				</div>
					<div class="col-md-4 w3_agileits_services_bottom_l_grid">
					<div class="agile_services_bottom_l_grid1">
						<img src="images/9.jpg" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos">
							<h3>Intricate Designs</h3>
						</div>
					</div>
					 <div class="serve_info_agile">
					    <h4>Restaurant Design</h4>
						<p>Our working process</p>
					 </div>
				</div>
					<div class="col-md-4 w3_agileits_services_bottom_l_grid">
					<div class="agile_services_bottom_l_grid1">
						<img src="images/5.jpg" alt=" " class="img-responsive" />
						<div class="w3_service_bottom_grid_pos">
							<h3>Intricate Designs</h3>
						</div>
					</div>
						 <div class="serve_info_agile">
					    <h4>Industrial Design</h4>
						<p>Our working process</p>
					 </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			
		</div>
	</div>
</div>
<!-- news -->
	<div class="special-services"> 
		<div class="container">  
			<h3>Latest News</h3>
			<p class="quia">View Our News</p>
			<div class="banner_bottom_agile_grids">
			<div class="news_w3l_agileinfo">
				<div class="col-md-7 agile-w3grid-img img_agile">
					<a href="single.html" class="wthree-agile-img">  
						<img src="images/1.jpg" class="img-responsive" alt=""/>
					</a>  
				</div>
				<div class="col-md-5 agile-news-w3grid-text"> 
					<h4><a href="single.html">Eco Materials</a></h4>
					<h6><a href="#"><i class="fa fa-user" aria-hidden="true"></i> By Admin</a> <i class="fa fa-calendar-o" aria-hidden="true"></i>  Jan 15 , 2017 </h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum.</p>
				</div> 
				<div class="clearfix"> </div>
			</div> 
			<div class="news_w3l_agileinfo news_w3l_agileinfo-mdl">
				<div class="col-md-7 agile-w3grid-img news-img-right-info img_agile">
					<a href="single.html" class="wthree-agile-img">  
						<img src="images/4.jpg" class="img-responsive" alt=""/>
					</a>  
				</div>
				<div class="col-md-5 agile-news-w3grid-text"> 
					<h4><a href="single.html">Interior Solutions</a></h4>
					<h6><a href="#"><i class="fa fa-user" aria-hidden="true"></i> By Admin</a> <i class="fa fa-calendar-o" aria-hidden="true"></i> Feb 21, 2017 </h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum. </p>
				</div> 
				<div class="clearfix"> </div>
			</div> 
		   </div>
		</div>
	</div>
	<!-- //news --> 

<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3>Testimonials</h3>
			<p class="quia">What our customers say</p>
			<div class="w3_testimonials_grids">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>	
								<div class="w3_testimonials_grid">
									<img src="images/1.png" alt=" " class="img-responsive" />
									<h4><i class="fa fa-quote-left" aria-hidden="true"></i> <i>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil 
										impedit quo minus id quod maxime placeat facere possimus, omnis voluptas.</i></h4>
									<h5>John Frank</h5>
									
								</div>
							</li>
							<li>	
								<div class="w3_testimonials_grid">
									<img src="images/2.png" alt=" " class="img-responsive" />
									<h4><i class="fa fa-quote-left" aria-hidden="true"></i> <i>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil 
										impedit quo minus id quod maxime placeat facere possimus, omnis voluptas.</i></h4>
									<h5>Michael Doe</h5>
									
								</div>
							</li>
							<li>	
								<div class="w3_testimonials_grid">
									<img src="images/3.png" alt=" " class="img-responsive" />
									<h4><i class="fa fa-quote-left" aria-hidden="true"></i>  <i>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil 
										impedit quo minus id quod maxime placeat facere possimus, omnis voluptas.</i></h4>
									<h5>Thomas Carl</h5>
									
								</div>
							</li>
						</ul>
					</div>
				</section>
				
			</div>
		</div>
	</div>
<!-- //testimonials -->